.header {
  background-image: url(../images/header-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  min-height: 450px;

  &__title-paragraf {
    margin: 0 auto;
    font-family: $main-font;
    font-weight: 700;
    color: $third-color;
    text-align: center;
    font-size: 16px;
    width: 81%;
  }


  &__title-name {
    margin: 0 auto;
    font-family: $main-font;
    font-size: 20px;
    font-weight: 700;
    color: $third-color;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 38px;
  }

  &__more {
    display: block;
    margin: 0 auto;
    font-family: $main-font;
    font-weight: 700;
    color: #fff;
    text-align: center;

    &::after {
      display: block;
      width: 96px;
      height: 3px;
      background-color: #7ab4fb;
      content: "";
      margin: 0 auto;
    }

  }

  &::after {
    content: '';
    position: absolute;
    width: 291px;
    height: 132px;
    background: url(../images/kids.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;


  }


}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin-bottom: 60px;

  &__list {
    // display: none;
    visibility: hidden;
    display: flex;

    &-link{
      &:hover{
        color: $secondary-color;
      }

    }

  }

  &__svg {
    width: 115px;
    height: 30px;
  }


}

@media (min-width:768px) {
  .container {
    width: 710px;
  }

  .navigation {
    &__list {
      display: flex;
      visibility: initial;
      justify-content: space-between;
      font-size: 15px;
      color: $sixth-color;

      &-link {
        margin: 0 auto;
        font-family: $main-font;
        color: $sixth-color;
        font-size: 15px;
        font-weight: 400;
      }

      &-item:not(:last-child) {
        margin-right: 70px;

      }
    }
  }


  .header {
    // padding-bottom: 330px;
    padding-top: 55px;
    min-height: 750px;

    &__title {
      &-paragraf {
        margin-bottom: 30px;
        width: 100%;
        letter-spacing: 0.6px;
        font-size: 20px;
        font-weight: 500;
      }

      &-name {
        font-family: $main-font;
        font-size: 35px;
        font-weight: 700;
        color: $third-color;
        text-align: center;
        padding: 0;
        width: 60%;
      }

    }

    &::after {
      content: '';
      position: absolute;
      width: 710px;
      height: 335px;
      background: url(../images/kids.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;

    }


  }

}

@media (min-width:1420px) {
  .header {
    min-height: 1186px;
    margin-bottom: 150px;

    &::after {
      content: '';
      position: absolute;
      width: 1400px;
      height: 700px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      left: 50%;
      transform: translateX(-50%);
      bottom: -20%;

    }

    &__title {
      &-paragraf {
        font-size: 36px;
        font-weight: 500;
        padding-top: 144px;
      }

      &-name {

        font-size: 60px;
        padding-top: 76px;
        width: 85%;
      }
    }

    &__more {
      font-size: 30px;
      padding-top: 76px;

      &::after {
        display: block;
        width: 185px;
        height: 3px;
        background-color: $after-color;
        content: "";
        margin: 0 auto;
      }
    }

  }

  .navigation {
    &__list-link {

      font-size: 23px;
      font-weight: 400;
      letter-spacing: 0.32px;
    }
  }


  // .logotype-img{
  //   width: 190px;
  //   height: 60px;
  // }


}
