.footer{
    font-family: $main-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #2c2c2c;
    text-align: center;
    background-image: url(../images/footer-bg-mob.png);
    background-size: cover;
    background-position: center;
    min-width: 320px;
    // min-height: 650px;
    padding-top: 55px;
    padding-bottom: 27px;
    background-repeat: no-repeat;

    &__logo{
    &-img{
        padding-top: 125px;
        padding-bottom: 27px;
    }
    }

    &__content{
    &-adr{
    &-tx:last-of-type{
        margin-bottom: 36px;
    }
    }
    }

    &__list{
    &-item:last-of-type{
        margin-bottom: 32px;
        }
    &-link{
        color: #2c2c2c;
    }
    }
    &__btn{
        background-image: linear-gradient( 80deg, rgb(133,166,246) 0%, rgb(193,73,231) 100%);
        box-shadow: 5.5px 9.526px 16px 0px rgba(90, 118, 233, 0.23);
        color: $third-color;
        padding: 10px 50px;
        border-radius: 50px;
        &:hover{
            background-image: linear-gradient(rgb(250, 184, 51), rgb(250, 184, 51));
            box-shadow: 0px 13px 17.1px 0.9px rgba(250, 184, 51, 0.4);
        }
    }
    &__btns{
    &-social{
        margin-top: 37px;
        margin-bottom: 36px;

        &-img{
            cursor: pointer;
            box-shadow: 0 0 0 rgba(204,169,44, 0.4);
            animation: pulse 2s infinite;
            border-radius: 50%;
            :hover {
                animation: none;
              }
              
              @-webkit-keyframes pulse {
                0% {
                  -webkit-box-shadow: 0 0 0 0 rgba(90, 118, 233, 0.23);
                }
                70% {
                    -webkit-box-shadow: 0 0 0 10px rgba(90, 118, 233, 0.23);
                }
                100% {
                    -webkit-box-shadow: 0 0 0 0 rgba(90, 118, 233, 0.23);
                }
              }
              @keyframes pulse {
                0% {
                  -moz-box-shadow: 0 0 0 0 rgba(90, 118, 233, 0.23);
                  box-shadow: 0 0 0 0 rgba(90, 118, 233, 0.23);
                }
                70% {
                    -moz-box-shadow: 0 0 0 10px rgba(90, 118, 233, 0.23);
                    box-shadow: 0 0 0 10px rgba(90, 118, 233, 0.23);
                }
                100% {
                    -moz-box-shadow: 0 0 0 0 rgba(90, 118, 233, 0.23);
                    box-shadow: 0 0 0 0 rgba(90, 118, 233, 0.23);
                }
              }
        }
    &-link{
            
        &:nth-child(-n+2){
            margin-right: 18px;
            }
        }
       }
    }

    &__terms{
       font-family: $main-font;
       font-weight: 400;
       font-size: 13px;
       line-height: 25px;
       width: 190px;
       margin: 0 auto;
       padding-bottom: 45px;

    &-links{
        color: $fifth-color;
    }
    }
    
}

.hid{
    display: none;
}

  






@media (min-width:768px) {
    .container{
        width: 768px;
    }

    .footer{
        background-size: inherit;
        background-image: url(../images/footer-bg-tab.png);
        font-size: 16px;
        line-height: 25px;
        background-position: bottom;

        &__logo{
            &-img{
                display: flex;
                margin-left: 45px;
                padding-top: 150px;
            }
        }

        &__wrap{
            display: flex;
            margin-left: 45px;
            text-align: left;
        }

        &__list{
            margin-left: 70px;
        }

        &__btn{
            display: flex;
            position: absolute;
            margin-left: 40px;
        }

        &__btns{
            &-social{
                margin-top: 0;
            }

        }

        &__terms{
            &-text{
                display: none;
            }
        }
    }
    .hid{
        display: none;
    }
}
@media (min-width:1420px){
    .container{
        width: 1420px;
    }

    .hid{
        display: flex;
    }

    .footer{
        width: 1920px;
        background-image: url(../images/footer-bg-desk.png);
        font-size: 16px;
        line-height: 25px;

        &__logo{
            &-img{
                margin-left: 100px;
            }
        }

        &__list{
            margin-left: 120px;
        }

        &__wrap{
            margin-left: 100px;
        }

        &__btn{
            left: 60%;
            bottom: -55%;
            padding: 16px 60px;
        }

        &__terms{
            display: flex;
            margin: 0;
            width: 900px;
            flex-direction: row-reverse;
            justify-content: space-between;
            margin-left: 100px;

            &-text{
                display: flex;
            }

            &-links{
                margin-right: 77px;
            }
        }
    }
}



    
  