* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.container {
  width: 290px;
  margin: 0 auto;
}

@media (min-width:768px) {
  .container {
    width: 710px;
  }
}

@media (min-width:1420px) {
  .container {
    width: 1420px;
  }
}

.section-title {
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 15px;
  color: $secondary-color;
 

  &__span {
    color: $main-color;
  }

}
