//COLORS//
$main-color: #282828;
$secondary-color: #fec240; 
$third-color: #ffffff;
$forth-color: #222222;
$fifth-color: #6b6f7a;
$sixth-color: #e9e9f3;
$seventh-color: #4f7df0;
$eith-color: #000000;
//FONTS//
$main-font: "Helvetica Neue", sans-serif;
$secondary-font: "Oswald", sans-serif;
$third-font: "Mistral";
$forth-font: "Marck Script", sans-serif;